* {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

body {
  background-color: rgb(238, 238, 238);
  height: 80vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
}

.form {
  list-style: none;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 5px gray;
  width: 500px;
}

.title {
  text-transform: capitalize;
}

li {
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}

.ph,
.ph::placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  flex: 1;
  text-indent: 10px;
}

.enter {
  width: fit-content;
  display: inline;
}

span {
  margin-left: 10px;
}

.clear-li {
  background-color: #e5e5e5;
  display: block;
  text-align: center;
}

.clear {
  background-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

i {
  font-size: 14px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.completed {
  color: red;
}

.tasks-container {
  display: block;
}
